<header class="top">
	<h1 class="top-title">ようこそ <span>Bookers</span> へ！</h1>
</header>
<main class="top">
	<div class="top-text-box">
		<p class="top-text">
			<span>Bookers</span>では、さまざまな書籍に関するあなたの意見や</br>
		印象を共有し交換することができます
		</p>
		<div class="top-link">
		<!-- <a href="books">start</a> -->
		<%= link_to "start",books_path,:style =>"color:#333;" %>
		</div>
	</div>
</main>
