<div class="notice-container">
    <p class="notice"><%= flash[:notice] %></p>
</div>
<h1>welcom to Bookers</h1>
<p>you can share and exchange your opinions , inpressions , and emotionsabout various books!</p>
<%= link_to  "Log in", new_user_session_path, class: "btn btn-success col-xs-10 col-xs-offset-1 sign_up"%>
<%= link_to  "Sign Up", new_user_registration_path, class: "btn btn-info col-xs-10 col-xs-offset-1 sign_in"%>
